@import '~tailwindcss/base.css';
@import "~tailwindcss/components.css";
@import '~tailwindcss/utilities.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .redondeo-lg {
    @apply rounded-tl-lg rounded-tr-none rounded-bl-lg rounded-br-lg !important;
  }
 .redondeo-input-addon {
    @apply rounded-tl-none rounded-tr-none rounded-bl-none rounded-br-lg !important;
  }
  .redondeo-xl {
    @apply rounded-tl-xl rounded-tr-none rounded-bl-xl rounded-br-xl !important;
  }
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
